/*

!/.gitignore

!/gradle/

!/example/
!/integrations/

!/src/

!/.travis.yml

!/build.gradle
!/gradle.properties
!/settings.gradle

!/gradlew
!/gradlew.bat

!/calculation.txt

!/LICENSE
!/README.md
